page-contact {

    .label{
        font-size: 20px;
        text-align: center;
        margin:10px;
        border: 1px solid rgba(12, 109, 148, 0.71);

    }
    .buttons{
        margin-left:10px;
        height:60px;
        width:60px;
    }
    .eButton{
        margin-left: 100px;
        margin-top: 10px;
        height:60px;
        width:100px;
    }
}
